# Python & Environments
__pycache__/
.env
.vscode/

# Databases
*.db

# Dynamically Generated Directories
data_processed/
outputs/

# Local Drafts, Scratchpads & Assets
path_scanner_v1.py
docs/*.md
docs/*.docx
docs/assets/
src/utils/cluster_exporter.py